.celal-resim{
    object-fit: contain;
    width: 100px;
    height: 300px;
    cursor: pointer;
}
.celal-resim-buyuk{
    height: 400px;
    width: 400px;
}
.text-secondary{
    color: blue;
}   

.parent{
    text-align: center;
}
.card-title{
    color: greenyellow ;
    font-weight: bold;
    font-size: xx-large;

}
.text-secondary{
    color: red !important;
    font-weight: bold;

}
.text-secondary2{
    color: green;
    font-weight: bold;
}
.text-secondary3{
    color: blue !important;
    font-weight: bold;

}